
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h4 class="mb-3">Register</h4>
    <form method="post">
      <div class="mb-3"><input class="form-control" name="username" placeholder="Username" required></div>
      <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Password" required></div>
      <button class="btn btn-success w-100">Create Account</button>
      <div class="mt-2">Have an account? <a href="{{ url_for('login') }}">Login</a></div>
    </form>
  </div>
</div>
{% endblock %}
